@model ComputerStore.WebUI.Models.PurchaseViewModel

@{
    ViewData["Title"] = "Buy";
}

<h1>Buy</h1>

<h4>Purchase</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Buy" asp-route-productId="@Model.ProductId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Product</label>
                <a asp-controller="Products" asp-action="Details" asp-route-id="@Model.ProductId">@Model.ProductName</a>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control"/>
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}